.borderSwitchPicture {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.26);

  color: #0077b5;
  font-family: 'Alef', sans-serif;

  text-align: center;
}
.shd {
  border: 0.2px;
  box-shadow: 5px 2px 18px #888888;
  margin-bottom: 0.2rem;
}
.info {
  margin-left: 1.5rem;
  text-align: center;

  font-size: 9rem;
}

.reg {
  margin-left: 3.5rem;
  text-align: center;
}
.borderSwitchPicture.Logo {
  margin-top: 0;
  padding: 1px 1px 1px 1px;
  width: 100%;
}

@media (max-width: 700px) {
  .reg {
    margin: auto;
  }
}
