.borderSwitchPicture {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.26);

  color: #0077b5;
  font-family: 'Alef', sans-serif;
  background-color: #fff;
  text-align: center;
}
.shd {
  margin-top: 0.5rem;
  border: 0.2px;
  box-shadow: 5px 2px 18px #888888;
  margin-bottom: 0.2rem;
}
.info {
  text-align: center;
  font-style: italic;
  margin: 0.2rem 0rem 0.5rem 0rem;
  font-size: 9rem;
}

.reg {
  margin-left: 3.5rem;
  text-align: center;
}
.borderSwitchPicture.Logo {
  margin-top: 0;
  padding: 1px 1px 1px 1px;
  width: 100%;
}

@media (min-width: 900px) {
  .reg {
    margin: auto;
  }
  .reg,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .reg {
    margin: auto;
  }
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 700px) {
  .reg {
    width: 50%;
    margin: auto;
  }
}
